<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ItemMapper">

	<resultMap type="com.example.domain.Item" id="itemMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="priceM" column="price_m" />
		<result property="priceL" column="price_l" />
		<result property="imagePath" column="image_path" />
		<result property="deleted" column="deleted" />
	</resultMap>
	<select id="findAll" resultMap="itemMap">
		SELECT * from items order by price_m;
	</select>

</mapper>