<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

	<resultMap type="com.example.domain.User" id="UserResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="email" column="email" />
		<result property="zipcode" column="zipcode" />
		<result property="address" column="address" />
		<result property="telephone" column="telephone" />

	</resultMap>

	<select id="register" resultMap="UserResultMap">
		INSERT INTO
		users(name,email,zipcode,address,telephone)
		values(#{name},#{email},#{zipcode},#{address},#{telephone})
	</select>

	<select id="findByMail" resultMap="UserResultMap">
		SELECT
		name,email,zipcode,address,telephone
		from users where email = #{email}

	</select>
	
	<select id="findById" resultMap="UserResultMap">
		SELECT
		id,name,email,zipcode,address,telephone
		from users where id = #{id}
	</select>

	<!-- LoginUserオブジェクト+α -->

	<resultMap type="com.example.domain.User" id="user">
		<id property="id" column="u_id"></id>
		<result property="name" column="u_name"></result>
		<result property="email" column="u_email"></result>
		<result property="zipcode" column="u_zipcode"></result>
		<result property="address" column="u_address"></result>
		<result property="telephone" column="u_telephone"></result>

		<collection property="orderList" ofType="com.example.domain.Order">
		
			<id property="id" column="o_id"></id>
			<result property="userId" column="o_user_id"></result>
			<result property="status" column="o_status"></result>
			<result property="totalPrice" column="o_total_price"></result>
			<result property="orderDate" column="o_order_date"></result>
			<result property="destinationName" column="o_destination_name"></result>
			<result property="destinationEmail" column="o_destination_email"></result>
			<result property="destinationZipcode" column="o_destination_zipcode"></result>
			<result property="destinationAddress" column="o_destination_address"></result>
			<result property="destinationTel" column="o_destination_tel"></result>
			<result property="deliveryTime" column="o_delivery_time"></result>
			<result property="paymentMethod" column="o_payment_method"></result>

			<collection property="orderItemList" ofType="com.example.domain.OrderItem">
				<id property="id" column="oi_id"></id>
				<result property="itemId" column="oi_item_id"></result>
				<result property="orderId" column="oi_order_id"></result>
				<result property="quantity" column="oi_quantity"></result>
				<result property="size" column="oi_size"></result>
				
				<collection property="orderToppingList" ofType="com.example.domain.OrderTopping">
					<id property="id" column="ot_id"></id>
					<result property="toppingId" column="oi_topping_id"></result>
					<result property="orderItemId" column="oi_order_item_id"></result>

				</collection>

			</collection>

		</collection>

	</resultMap>


	<select id="findAllByMail" resultMap ="user" parameterType="String">

		SELECT
		u.id u_id,
		u.name u_name,
		u.email u_email,
		u.zipcode u_zipcode,
		u.address u_address,
		u,telephone u_telephone,
		o.id
		o_id,
		o.user_id o_user_id,
		o.status o_status,
		o.total_price
		o_total_price,
		o.order_date o_order_date,
		o.destination_name
		o_destination_name,
		o.destination_email o_destination_email,
		o.destination_zipcode o_destination_zipcode,
		o.destination_address
		o_destination_address,
		o.destination_tel o_destination_tel,
		o.delivery_time o_delivery_time,
		o.payment_method o_payment_method,
		oi.id oi_id,
		oi.item_id oi_item_id,
		oi.order_id oi_order_id,
		oi.quantity oi_quantity,
		oi.size oi_size,
		ot.id ot_id,
		ot.topping_id ot_topping_id,
		ot.order_item_id ot_order_item_id
		FROM users u
		LEFT OUTER JOIN orders o ON u.id = o.user_id
		LEFT OUTER JOIN order_items oi ON o.id = oi.order_id
		LEFT OUTER JOIN order_toppings ot ON oi.id = ot.order_item_id
		WHERE u.email =#{email}


	</select>


</mapper>